<div class="post">
  <% if post.posted_by_content_node -%>
    <%= content_tag(:a, post.image.image_tag(:thumb), {:href => post.posted_by_content_node.link}, false) %>
  <% else -%>
    <%= post.image.image_tag(:thumb) %>
  <% end -%>
  <span class="title_body">
    <%= content_tag(:span, post.title, {:class => 'title'}) %>
    <span class="body">
      <%= post.body_html %>
      <%= content_tag(:a, 'Read More >>'.t, {:class => 'read_more', :href => post.content_node.link}) if post.content_node -%>
    </span>
  </span>
</div>
<div class="actions">
  <span class="posted_at"><%= '%s ago' / time_ago_in_words(post.posted_at) %></span>
  <spam class="links">
    <a href="#">Comment</a> | <a href="#">Share</a>
  </span>
</div>
<%= content_tag(:div, 'Link: %s' / content_tag(:a, post.link, {:href => post.link, :rel => 'nofollow', :target => '_blank'}), {:class => 'shared_content'}, false) if post.link && post.post_type == 'link' -%>
