<div class="post">
<% if poster.can_delete_post?(post) -%>
<div class="delete">
<a onclick="PostStream.deletePost('<%= jvh renderer.ajax_url %>', '<%= post.identifier %>');" href="javascript:void(0);"><span>Delete</span></a>
</div>
<% else -%>
<div class="flag_post">
<a onclick="PostStream.flagPost('<%= jvh renderer.ajax_url %>', '<%= post.identifier %>');" href="javascript:void(0);"><span>Flag as inappropriate</span></a>
</div>
<% end -%>

  <% if post.image && post.image.image? %>
    <% if post.posted_by_shared_content_node && ! post.posted_by_shared_content_node.link.blank? -%>
      <%= content_tag(:a, post.image.image_tag(:thumb), {:href => post.posted_by_shared_content_node.link}, false) %>
    <% else -%>
      <%= post.image.image_tag(:thumb) %>
    <% end -%>
  <% end -%>
  <span class="title_body">
    <%= content_tag(:span, post.title, {:class => 'title'}) %>
    <span class="body">
      <%= post.body_html.html_safe %>
      <%= content_tag(:a, 'Read More >>'.t, {:class => 'read_more', :href => post.shared_content_node.link}) if post.shared_content_node -%>
    </span>
  </span>
</div>
<div class="actions">
  <span class="posted_at"><%= '%s ago' / time_ago_in_words(post.posted_at) %></span>
  <span class="links">
<% if poster.can_post? -%>
    <a href="javascript:void(0);" onclick="PostStreamForm.toggleComment(<%= post.id %>);">Comment</a>
  <% if poster.can_post_to_facebook? -%>
    | <a class="fb_share_button" onclick="PostStream.share('<%= jvh Configuration.domain_link(post.share_url(post_page_node)) %>', '<%= jvh truncate(post.body, :length => 60) %>', null);" href="javascript:void(0);"><span><%= 'Share'.t %></span></a>
  <% end -%>
<% elsif poster.can_post_to_facebook? -%>
    <a class="fb_share_button" onclick="PostStream.share('<%= jvh Configuration.domain_link(post.share_url(post_page_node)) %>', '<%= jvh truncate(post.body, :length => 60) %>', null);" href="javascript:void(0);"><span><%= 'Share'.t %></span></a>
<% end -%>
  </span>
</div>
<%= content_tag(:div, post.handler_obj.render(renderer, poster.options), {:class => 'shared_content'}, false) if post.handler_obj -%>
<%= render :partial => '/post_stream/page/comments', :locals => poster.get_locals.merge(:post => post) %>
<%= render :partial => '/post_stream/page/comment_form', :locals => poster.get_locals.merge(:post => post) if poster.can_comment? %>
<hr class="separator"/>
