<div class="post">
  <% if post.image %>
    <% if post.posted_by_shared_content_node -%>
      <%= content_tag(:a, post.image.image_tag(:thumb), {:href => post.posted_by_shared_content_node.link}, false) %>
    <% else -%>
      <%= post.image.image_tag(:thumb) %>
    <% end -%>
  <% end -%>
  <span class="title_body">
    <%= content_tag(:span, post.title, {:class => 'title'}) %>
    <span class="body">
      <%= post.body_html %>
      <%= content_tag(:a, 'Read More >>'.t, {:class => 'read_more', :href => post.shared_content_node.link}) if post.shared_content_node -%>
    </span>
  </span>
</div>
<div class="actions">
  <span class="posted_at"><%= '%s ago' / time_ago_in_words(post.posted_at) %></span>
  <spam class="links">
<% if poster.can_post? -%>
    <a href="javascript:void(0);" onclick="PostStreamForm.toggleComment(<%= post.id %>);">Comment</a> | <a href="<%= post.share_url(site_node) %>">Share</a>
<% else -%>
    <a href="#">Share</a>
<% end -%>
  </span>
</div>
<%= content_tag(:div, post.handler_obj.render(renderer, poster.options), {:class => 'shared_content'}, false) if post.handler_obj -%>
<%= render :partial => '/post_stream/page/comments', :locals => {:renderer => renderer, :post => post, :poster => poster} %>
<%= render :partial => '/post_stream/page/comment_form', :locals => {:renderer => renderer, :post => post, :poster => poster} if poster.can_post? %>
<hr class="separator"/>
