<%
html = share.embeded_html.to_s

thumbnail_width = share.thumbnail_width
thumbnail_height = share.thumbnail_height
if thumbnail_width.blank? || thumbnail_width.to_i > maxwidth
  thumbnail_width = maxwidth
  thumbnail_height = nil
end

thumbnail_img = tag(:img, {:src => share.thumbnail_url, :width => thumbnail_width, :height => thumbnail_height, :title => share.name, :alt => share.name, :id => "post_stream_thumbnail_#{post.id}", :class => 'post_stream_thumbnail'}.delete_if{|k,v| v.blank?})

%>
<% if share.thumbnail_url -%>
  <a href="javascript:void(0);" onclick="PostStream.embed('<%= jvh html %>', '<%= post.id %>');"><%= thumbnail_img %></a>
  <%= content_tag(:div, '', {:id => "post_stream_embed_#{post.id}", :class => 'post_stream_embed', :style => "display:none; width:#{share.width}px; height:#{share.height}px;"}) %>
<% elsif html -%>
  <%= content_tag(:div, html, {:id => "post_stream_embed_#{post.id}", :class => 'post_stream_embed', :style => "width:#{share.width}px; height:#{share.height}px;"}) %>
<% end -%>
