<% if page_connection_hash -%>
<script type="text/javascript">
PostStreamForm.pageConnectionHash = '<%= jvh page_connection_hash %>';
PostStreamForm.defaultPostText = '<%= jvh poster.options[:default_post_text] %>';
PostStreamForm.defaultCommentText = '<%= jvh poster.options[:default_comment_text] %>';
PostStream.flagMessage = 'Post has been flagged.';
</script>
<% end -%>

<div class="post_stream_posts">
<div id="post_stream_post_new"></div>
<%= render :partial => '/post_stream/page/posts', :locals => poster.get_locals %>
<div id="more_stream_posts">
</div>
<% if has_more -%>
<div class="has_more">
<a id="stream_post_has_more" onclick="PostStreamForm.has_more('<%= jvh renderer.ajax_url %>');" href="javascript:void(0);"><%= (attributes['has_more'] || 'Previous Posts'.t).html_safe %></a>
<span id="stream_post_no_more" style="display:none;"><%= (attributes['no_more'] || 'No more posts'.t).html_safe %></span>
</div>
<% end -%>
</div>

