= active_table_for :post_stream_table, @active_table_output,                       |
  :refresh_url => url_for(:action => 'post_stream_table', :path => @target.id),    |
  :style => 'width:100%',                                                          |
  :actions => [['Flag Posts', 'flag'], ['Unflag posts', 'unflag']],                |
  :more_actions => [['Delete','delete','Are you sure you want to delete the posts?']] do |t|
  = active_tr 'post_stream', t.id do
    %td{:align => "left", :nowrap => "1"}= entry_checkbox "post_stream", t.id
    %td{:align => "center"}= t.post_type
    %td{:align => "center"}= content_tag(:a, t.title, :href => url_for(:action => 'post', :path => [@target.id, t.id]))
    %td= truncate(t.body, :length => 120)
    %td{:align => "center"}= t.end_user ? content_tag(:a, t.end_user.name, :href => url_for(:controller => '/members', :action => 'view', :path => t.end_user.id)) : 'Anonymous'.t
    %td{:align => "center"}= t.handler ? t.handler.split('/')[-1].titleize : '-'
    %td{:align => "center"}= t.post_stream_post_comments_count
    %td{:align => "center"}= t.flagged ? '<span style="color:red;">flagged</span>'.html_safe : '-'
    %td{:align => "center"}= t.posted_at ? t.posted_at.strftime(DEFAULT_DATETIME_FORMAT.t) : '-'
