= active_table_for :target_table, @active_table_output,    |
   :refresh_url => url_for(:action => 'target_table'),     |
   :style => 'width:100%' do |t|
  = active_tr 'target', t.id do
    %td= content_tag(:a, t.name, :href => url_for(:action => 'posts', :path => t.id))
    %td{:align => "center"}= t.post_stream_post_count
    %td{:align => "center"}= t.posted_by_count
    %td{:align => "center"}= t.flagged_post_count && t.flagged_post_count > 0 ? "<span style='color:red;'>#{t.flagged_post_count}</span>" : '0'
    %td{:align => "center"}= t.last_posted_at ? t.last_posted_at.strftime(DEFAULT_DATETIME_FORMAT.t) : '-'
    %td{:align => "center"}= t.created_at ? t.created_at.strftime(DEFAULT_DATETIME_FORMAT.t) : '-'
