<% current_time = Time.now %>
<% active_table_for :target_table, @active_table_output,
                    :refresh_url => url_for(:action => 'target_table'),
                    :style => 'width:100%' do |t| %>
<tr <%= highlight_row 'target',t.id %> >
  <td align="center"><%= content_tag(:a, t.name, :href => url_for(:action => 'posts', :path => t.id)) %></td>
  <td align="center"><%= t.post_stream_post_count %></td>
  <td align="center"><%= t.last_posted_at ? t.last_posted_at.strftime(DEFAULT_DATETIME_FORMAT.t) : '-' %></td>
  <td align="center"><%= t.created_at ? t.created_at.strftime(DEFAULT_DATETIME_FORMAT.t) : '-' %></td>
</tr>


<% end -%>
