%br/
= stat_view do |t|
  = t.raw 'Title', @post.title
  = t.raw 'Body', @post.body
  = t.raw 'User', @post.end_user.name if @post.end_user
  = t.raw 'Posted By', @post.posted_by.name if @post.posted_by
  = t.raw 'Posted At', @post.posted_at.strftime(DEFAULT_DATETIME_FORMAT.t)
%br/
= button_to 'Delete', :delete => 1
