<a href="<%= vh post.link %>" rel="nofollow" target="_blank"><img src="<%= options.data['url'] %>" width="<%= options.data['width'] %>" height="<%= options.data['height'] %>" alt="<%= vh options.data['title'] %>" title="<%= vh options.data['title'] %>"/></a>
