<%
html = options.data['html']
doc =  Nokogiri::HTML(html)
object = doc.xpath('//object').to_s

thumbnail_img = tag(:img, {:src => options.data['thumbnail_url'], :width => options.data['thumbnail_width'], :height => options.data['thumbnail_height'], :title => options.data['title'], :alt => options.data['title'], :id => "post_stream_thumbnail_#{post.id}", :class => 'post_stream_thumbnail'}.delete_if{|k,v| v.blank?})

title = options.data['title'] || post.link
title_link = content_tag(:a, truncate(title, :length => 35), {:href => post.link, :rel => 'nofollow', :target => '_blank', :title => title})
heading = content_tag(:div, title_link, {:class => 'video_title'}, false)
%>
<%= heading %>
<% if object.blank? -%>
  <%= content_tag(:a, thumbnail_img, {:href => post.link, :rel => 'nofollow', :target => '_blank'}, false) %>
<% else -%>
  <a href="javascript:void(0);" onclick="PostStreamOmbedLink.play('<%= jvh object %>', '<%= post.id %>');"><%= thumbnail_img %></a>
  <%= content_tag(:span, '', {:id => "post_stream_video_#{post.id}", :class => 'post_stream_video', :style => 'display:none;'}) %>
<% end -%>

