<a href="javascript:void(0);" onclick="PostStreamLinkYoutube.play('<%= jvh options.video_key %>', '<%= post.id %>');"><img id="post_stream_thumbnail_<%= post.id %>" src="<%= options.thumbnail %>" class="post_stream_thumbnail" title="<%= vh options.title %>" /></a>
<span id="post_stream_video_<%= post.id %>" class="post_stream_video" style="display:none;"></span>
